html {
  scroll-behavior: smooth
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 800px;
  color: rgba(255, 255, 255, 1);
}
.parallax-container .section {
  position: relative;
  top: 50%;
}
#index-banner .section {
  top: 20%;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: relative;
    top: 50%;
  }
  #index-banner .section {
    top: 20%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 20%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
