nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 800px;
  color: rgba(255, 255, 255, 1);
}
.parallax-container .section {
  position: relative;
  top: 50%;
}
#index-banner .section {
  top: 20%;
}
.carousel-container .container {
  width: 100%;
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: relative;
    top: 50%;
  }
  #index-banner .section {
    top: 20%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 20%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@font-face {
  font-family: 'butlerregular';
  src: url('fonts/butler_regular-webfont.eot');
  src: url('fonts/butler_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/butler_regular-webfont.woff2') format('woff2'),
       url('fonts/butler_regular-webfont.woff') format('woff'),
       url('fonts/butler_regular-webfont.ttf') format('truetype'),
       url('fonts/butler_regular-webfont.svg#butlerregular') format('svg');
}

.butler-font {
  font-family: 'butlerregular', sans-serif;
  font-weight: normal;
  font-style: normal;
}
